/* * { border: 1px solid black; } */

@font-face {
    font-family: 'Atkinson';
    src: url(resources/AtkinsonHyperlegibleNext-SemiBold.otf) format('otf');
}

body {
    margin-top: 2em;
    font-size: medium;
}

main {
    text-align: center;
    margin: 0pt;
}

h1,
h2,
h3,
h4 {
    font-family: 'Atkinson Hyperlegible Next', 'Trebuchet MS', Arial;
    font-weight: 600;
}

h1 {
    line-height: 78%;
    font-size: xxx-large;
    margin-top: 0;
    margin-bottom: 8pt;
}

h3 {
    font-size: x-large;
    margin-top: 2em;
}

p {
    max-width: 600px;
    font-size: 120%;
    font-family: 'Atkinson Hyperlegible Next', Georgia;
}

hr {
    border: none;
    color: #333;
    background-color: #333;  /* Modern Browsers */
    height: 3px;
}

.subname {
    font-size: large;
    font-family: 'Atkinson Hyperlegible Next', Georgia;
}

.icon {
    position: relative;
    top: 4px;
}

.email {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: black;
    font-size: large;
}

#card,
#text {
    text-align: left;
    display: inline-block;
    vertical-align: top;
    padding: 0.5em;
}